<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>News</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
  	<servlet-name>NewsServlet</servlet-name>
  	<servlet-class>com.news.servlet.NewsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>NewsServlet</servlet-name>
  	<url-pattern>/news.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.news.servlet.LoginServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Infoselt</servlet-name>
    <servlet-class>com.news.servlet.Infoselt</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Searchindex</servlet-name>
    <servlet-class>com.news.servlet.Searchindex</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Searchlist</servlet-name>
    <servlet-class>com.news.servlet.Searchlist</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Searchsh</servlet-name>
    <servlet-class>com.news.servlet.Searchsh</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>CategoryAdd</servlet-name>
    <servlet-class>com.news.servlet.CategoryAdd</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>CategoryList</servlet-name>
    <servlet-class>com.news.servlet.CategoryListselt</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>CategoryModifyselt</servlet-name>
    <servlet-class>com.news.servlet.CategoryModifyselt</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Infoselt</servlet-name>
    <url-pattern>/Infoselt</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Searchindex</servlet-name>
    <url-pattern>/Searchindex</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Searchlist</servlet-name>
    <url-pattern>/Searchlist</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Searchsh</servlet-name>
    <url-pattern>/Searchsh</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CategoryAdd</servlet-name>
    <url-pattern>/CategoryAdd</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CategoryList</servlet-name>
    <url-pattern>/CategoryList</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CategoryModifyselt</servlet-name>
    <url-pattern>/CategoryModifyselt</url-pattern>
  </servlet-mapping>
</web-app>